@import 'tailwindcss';
@custom-variant nlc ($:where(.nlc, .nlc *));

/* In order to change some of the recurring values in this application, 
consider changing these global values. */

@theme {
	--color-brand-dark-1: #0c0c0c;
	--color-brand-primary-1: #0066ff;
	--color-brand-primary-2: #0c38a5;
	--color-brand-primary-3: #092660;	
	--color-brand-highlight-1: #d3fe31;
	--color-brand-off-white: #fcfcfc;
	--color-brand-text: #fcfcfc;
	--color-brand-secondary-1: #ff6600;
	--color-brand-secondary-2: #d65600;
	--color-brand-border: #0b37a5;
	--font-heading: 'Bebas Neue', sans-serif;
	--font-body: 'Space Grotesk', sans-serif;
	--font-label: 'Rajdhani', sans-serif;
	--container-visual-height: 258px;
	--container-visual-width: 1339px;
	--url-brand-bgCropped: url('$lib/assets/croppedBg.avif');
	--url-brand-Logo: url('$lib/assets/rolLogoVertical.avif');
}

.nlc {
	--color-brand-dark-1: #0A001A;
	--color-brand-primary-1: #6700FF;
	--color-brand-primary-2: #43108E;
	--color-brand-primary-3: #0A001A;
	--color-brand-highlight-1: #BF9D6D;
	--color-brand-off-white: #FFF7E9;
	--color-brand-text: #FFF7E9;
	--color-brand-secondary-1: #6700FF;
	--color-brand-secondary-2: #43108E;
	--color-brand-border: #BF9D6D;
}

/* Current config for stream:
	Aspect Ratio:
		Total width: 1920px
		Total height: 1080px

	Lower HUD (scoreboard / minimap etc.)
		Height: 250px 
		left el width: 302px
		middle el width: 1338px (Place for visuals)
		right el width: 280px  
*/
