@import 'tailwindcss';

/* In order to change some of the recurring values in this application, 
consider changing these global values. */

@theme {
	--color-night: #0c0c0c;
	--color-brand-blue: #0066ff;
	--color-egyptian: #0c38a5;
	--color-royal: #092660;
	--color-lime: #d3fe31;
	--color-off-white: #fcfcfc;
	--color-brand-orange: #ff6600;
	--color-brand-orange-2: #d65600;
	--color-border-blue: #0b37a5;
	--font-heading: 'Bebas Neue', sans-serif;
	--font-body: 'Space Grotesk', sans-serif;
	--font-label: 'Rajdhani', sans-serif;
	--container-visual-height: 258px;
	--container-visual-width: 1339px;
}

/* Current config for stream:
	Aspect Ratio:
		Total width: 1920px
		Total height: 1080px

	Lower HUD (scoreboard / minimap etc.)
		Height: 250px 
		left el width: 302px
		middle el width: 1338px (Place for visuals)
		right el width: 280px  
*/
